html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body {
  background: #500d78;
  display: flex;
  align-items: center;
  justify-content: center;
}
