:root {
  --mouseX: 100%;
  --mouseY: 100%;
}

body {
  min-height: 700px;
  min-width: 700px;
  background-size: auto 100%;
  background-position: var(--mouseX) var(--mouseY);
  background-repeat: no-repeat;
  background-image: url(https://shielded-mesa-66786.herokuapp.com/256210301413.gif);
}

html,
body {
  padding: 0;
  margin: 0;
}
